
@font-face {
	font-family: 'Awenaturale';
	src: url('./Awenaturale.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Awenaturale', Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 100px;
	color: color(display-p3 0.894 0.851 0.784);
	background-color: color(display-p3 0.114 0.122 0.114);
	text-transform: lowercase;
	
}
#sentenceOutput {
	font-size: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	
	}
	
#sentenceOutput span:focus {
		outline: none;
		box-shadow: 4px 4px 4px  color(display-p3 0.235 0.239 0.22);
	}

#sentenceOutput span {
	display: inline-block;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
	padding:1em;
	box-sizing: border-box;
	margin-bottom: -0.5em;
	box-shadow: 2px 2px 4px  color(display-p3 0.235 0.239 0.22);
	border-radius: 8px; /* Rounded corners for the box shadow */
	
}

#sentenceOutput span:hover {
	background-color: color(display-p3 0.42 0.459 0.4);
}


.fade-out {
	opacity: 1;
}

